
.bc-player-b583a031-4d38-4f60-aca9-846182ff93b7_default .vjs-big-play-button {
    background-color: RGB(198,12,48); /* Chick-fil-A Red */
    width: 110px !important;
    height: 70px !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    
    /* Square Icon Used */
    /*Original Image Background Removed in order to blend colors well */
    background-image: url("https://raw.githubusercontent.com/JoeMejica/CFA-BC-Sandbox/master/Graphics/cfa_chicken_head.png");   
    background-repeat: no-repeat;
    opacity: .6;
    background-size: 75px;
    background-position-x: 41px;
    background-position-y: 0px;
    border: .3em solid #fff;
}


/*Play Icon Inside Button Properties*/
.video-js .vjs-big-play-button:before {
    content: '\e001';
    color: rgba(0, 0, 0, 0.64);
    display: block;
    font-family: VideoJS;
    font-size: 40px;
    margin: 25px;
    opacity: 1;
    text-indent: 16px;
}

/*Play Button Border Properties*/
.video-js .vjs-big-play-button {
    border-radius: 80px;
    cursor: pointer;
    height: 96px;
    left: 23px;
    position: absolute;
    top: 21px;
    width: 144px;
}

.video-js .vjs-mouse.vjs-big-play-button .vjs-paused {
    display: block;
}



/*
/////////////////////////////
CONTROL BAR
/////////////////////////////
*/

.video-js .vjs-control-bar {
    color: white;
    background-color: rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    position: absolute;
    transition: transform 0.5s, margin 0.5s;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 1;
    opacity: .8;
}


/*
///////////////////////////////////////////////////////////////////
IMAGE OVERLAYS FOR JSON PLUGIN (see "Plug-in Guide" for more info)
///////////////////////////////////////////////////////////////////
*/

/* CSS Overlay Code provdided by Brightcove. Values can be changed to suit preferrence. */

.vjs-overlay,
.vjs-overlay.vjs-overlay-top-left {
  position: absolute;
  width: 10%;
  background-color: #646464; /* IE8 fallback */
  background-color: rgba(255, 255, 255, 0);
  min-width: 40px;
  max-width: 80px;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  top: 5px;
  left: 5px;
  text-align: center;
    
}

/* overlay alignment styles */
.vjs-overlay.vjs-overlay-top {
  margin-left: -16.5%;
  left: 50%;
}
.vjs-overlay.vjs-overlay-top-right {
  left: auto;
  right: 5px;
}
.vjs-overlay.vjs-overlay-left {
  top: 50%;
  margin-top: -15px;
}
.vjs-overlay.vjs-overlay-right {
  left: auto;
  right: 5px;
  top: 50%;
  margin-top: -15px;
}
.vjs-overlay.vjs-overlay-bottom {
  margin-left: -16.5%;
  left: 50%;
  top: auto;
  bottom: 4.5em;
}
.vjs-overlay.vjs-overlay-bottom-left {
  bottom: 4.5em;
  top: auto;
  left: 5px;
}
.vjs-overlay.vjs-overlay-bottom-right {
  bottom: -.5em;
  top: auto;
  left: auto;
  right: 5px;
    
}

/*Chick-fil-A "Chicken Head" overlay CSS*/

.cfaimage {
    opacity: .7;
}